<!DOCTYPE html>
<html>
<head>
    <title>Time Logs</title>
    <link href="/css/normalize.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" />
</head>
<body>
<div class="logo">
    <h1>Tim</h1>
    <p><span>The Virtual Accountant</span></p>
</div>
<div class="container-sm">
    <% if (error.toString()) { %>
    <div class="alert error">
        <%= error %>
    </div>
    <% } %>
    <% if (success.toString()) { %>
    <div class="alert success">
        <%= success %>
    </div>
    <% } %>
</div>