<% include partials/header %>
<div class="container-sm">
    <h1>Login</h1>
    <form action="/" method="POST">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <button class="button block">Submit</button>
    </form>
</div>
<% include partials/footer %>