<% include partials/header %>
<div class="container">
    <h2 class="display-4">
        Leaderboard 
    </h2>    
	<div class="d-flex justify-content-between">
		<h4><%= title %> Records</h4>
		<form class="form-inline mb-2" action="/leaderboard" method="GET">
			<select name="month" class="custom-select form-control my-1 mr-sm-2" id="inlineFormCustomSelectPref">
				<option selected>Month</option>
				<option value="1">January</option>
				<option value="2">February</option>
				<option value="3">March</option>
				<option value="4">April</option>
				<option value="5">May</option>
				<option value="6">June</option>
				<option value="7">July</option>
				<option value="8">August</option>
				<option value="9">September</option>
				<option value="10">October</option>
				<option value="11">November</option>
				<option value="12">December</option>
			</select>

			<input type="text" name="year" class="form-control my-1 mr-sm-2 text-right" id="inlineFormInputName2" placeholder="Year">

			<button type="submit" class="btn btn-secondary my-1 mr-sm-2">Submit</button>
		</form>
	</div>
	<table class="table table-sm w-75 mx-auto">
		<thead class="thead-dark">
			<tr>
				<th>Rank</th>
				<th>Name</th>
				<th class="text-right">Score</th>
			</tr>
		</thead>
		<tbody>
			<% if (users) { %>
				<% users.forEach(function (user, idx) { %>
					<tr>
						<td><%= idx + 1 %></td>
						<td><%= user._id.charAt(0).toUpperCase() + user._id.slice(1).toLowerCase() %></td>
						<td class="text-right"><%= user.count %></td>
					</tr>
				<% }) %>
			<% } %>
		</tbody>
    </table>
    
</div>
<% include partials/footer %>