<% include partials/header %>
<div class="container">
    <div class="d-flex justify-content-between align-items-center m-3">
        <h2 class="display-4">
            <% if(currentUser && currentUser.username === user) { %>
                <span>Welcome <span>
            <% } %>
            <span><%= user.charAt(0).toUpperCase() + user.slice(1).toLowerCase() %></span>
        </h2>
        <% if(currentUser && currentUser.username === user) { %>
            <a href="/users/checkin" class="btn btn-outline-secondary btn-lg">Check In</a>
        <% } %>
    </div>
    <% if(currentUser && (currentUser.username === user || currentUser.isAdmin)) { %>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Date</th>
                    <th>Day</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                <% if (logins) { %>
                    <% logins.forEach(function (login) { %>
                        <tr>
                            <td><%= strftime("%B %d, %Y", login.time) %></td>
                            <td><%= strftime("%A", login.time) %></td>
                            <td><%= strftime("%I:%M %p", login.time) %></td>
                        </tr>
                    <% }) %>
                <% } %>
            </tbody>
        </table>
    <% } %>
</div>
<% include partials/footer %>