 @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i|Lato:400,700'); 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

body {
    background-color: #f7f7f7;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 70%;
}
.container-sm {
    max-width: 400px;
}

input[type="text"],
input[type="password"],
input[type="date"] {
    width: 100%;
    padding: 15px 30px;
    background: transparent;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
}

input[type="date"] {
	width: auto;
}


h3 {
    padding: 10px;
}

/* TODO: Style the checkbox 
input[type="checkbox"] {

}
*/

#admin, label {
    margin: 10px;
}

.button {
    padding: 10px 20px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid hsl(200, 100%, 50%);
    margin: 10px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    color:  hsl(200, 100%, 50%);
    transition: all 0.15s;
}

.button.sm {
	padding: 0 20px;
}
.button.block {
    display: block;
    width: 100%;
    margin: 20px 0;
}

.button:hover {
    color: white;
    background-color:  hsl(200, 100%, 50%);
    border-color: transparent;
}

.button:active, .button:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.logo {
    text-align: center;
    margin: 30px 0;
    background-color: #0b80cf;
    padding: 30px 15px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'Lato', Arial, sans-serif;
    align-self: stretch;
    box-shadow: inset 0px 0px 15px 1px #505065;
}

.logo p {
    font-size: 0.8em;
    margin: 10px 0;
    color: hsl(200, 100%, 100%);
}

.logo h1 {
    color: hsl(200, 100%, 100%);
    font-weight: 700;
}

.logo > * {
    margin: 0;
    padding: 0;
}
form > * {
    margin: 10px 0;
}

.container-sm h1 {
    text-align: center;
}

input:focus {
    outline: none;
    border: 1px solid  hsl(200, 100%, 50%);
}

.list-group {
    border: 1px solid #cdcdcd;
    border-radius: 10px;
    list-style-type: none;
}

.list-group-item {
    padding: 10px 20px;
    font-size: 0.8em;
    border-bottom: 1px solid #cdcdcd;
}

.list-group-item:last-child {
    border: none;
}

.list-group-item a {
    transition: all 0.2s ease-in-out;
    display: inline-block;
}

.list-group-item > *:hover {
    transform: translateX(15px);
}

a,
a:visited,
a:active {
    text-decoration: none;
    color: hsl(200, 100%, 50%);
}

.red-text {
    color: hsl(0, 95%, 58%);
    font-style: italic;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table td {
    border: 1px solid #cdcdcd;
    padding: 10px;
}

.table th {
    padding: 15px 10px;
    background-color: hsl(200, 100%, 50%);
    color: white;
    text-align: left;
    border: 1px solid hsl(200, 100%, 50%);
    font-weight: normal;
}

.body-container {
    display: flex;
}

.main-content {
    flex: 1 0 75%;
    margin: 0px 10px;
}

.main-content > .button:first-child {
    margin-bottom: 10px;
    float: right;
}

.alert {
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 0.8em;
}

.alert.success {
    border: 1px solid hsl(120, 90%, 58%);
    color: hsl(120, 90%, 58%);
}

.alert.error {
    border: 1px solid hsl(0, 95%, 58%);
    color: hsl(0, 95%, 58%);
}

@keyframes slidein {
  100% {
    transform: translate(0, 0);
  }  
}